In [1]:
import os 
import pandas as pd 
import numpy as np
os.getcwd()

'c:\\Users\\User\\Documents\\ATS_Development\\Strat_1'

In [2]:
files = [i for i in os.listdir('strat_returns') if i.endswith('csv')]
ticker = files.pop(0)
print('Ticker: ', ticker)
print('Files: ', files)

Ticker:  AMLP.csv
Files:  ['IVE.csv', 'IVW.csv', 'IWM.csv', 'SPY.csv', 'USO.csv', 'XLF.csv', 'XLI.csv', 'XLU.csv', 'XLV.csv']

In [3]:
df_hk = pd.read_csv(f'strat_returns/Testing/kelly_returns/{ticker}')
df_hk['ticker'] = ticker.replace('.csv', '')
df_hk

,date,labels,predictions,Volume,shares,net_pnl,eod_equity,daily_ret,half_kelly,ticker
0,2012-02-09,2,2.0,415340.0,1311.0,0.00,1.000000e+04,0.000000,4.0,AMLP
1,2012-02-10,2,2.0,382880.0,1311.0,-81.66,9.918340e+03,-0.008166,4.0,AMLP
2,2012-02-13,2,2.0,361040.0,1296.0,-54.84,9.863500e+03,-0.005529,4.0,AMLP
3,2012-02-14,2,2.0,351600.0,1288.0,-54.52,9.808980e+03,-0.005527,4.0,AMLP
4,2012-02-15,2,2.0,332220.0,1275.0,-168.75,9.640230e+03,-0.017204,4.0,AMLP
...,...,...,...,...,...,...,...,...,...,...
3297,2025-03-21,2,2.0,1200800.0,79724982.0,31092739.98,1.059545e+09,0.030233,4.0,AMLP
3298,2025-03-24,2,2.0,882400.0,81550510.0,-7339548.90,1.052205e+09,-0.006927,4.0,AMLP
3299,2025-03-25,2,2.0,1306600.0,81032380.0,14585825.40,1.066791e+09,0.013862,4.0,AMLP
3300,2025-03-26,2,2.0,1404900.0,81730801.0,-12259623.15,1.054532e+09,-0.011492,4.0,AMLP
3301,2025-03-27,2,2.0,423994.0,81024330.0,4861456.80,1.059393e+09,0.004610,4.0,AMLP

In [4]:
df_ret = pd.read_csv(f'strat_returns/Testing/no_kelly_criterion_returns/{ticker}')
df_ret['ticker'] = ticker.replace('.csv', '')
#df_ret = df_ret[['ticker', 'date', 'daily_ret']]
df_ret[df_ret['date'] >= '2012-02-09']

,date,labels,predictions,Volume,shares,net_pnl,eod_equity,daily_ret,half_kelly,ticker
127,2012-02-09,2,2.0,415340.0,389.0,0.00,11870.42,0.000000,1.0,AMLP
128,2012-02-10,2,2.0,382880.0,389.0,-26.34,11844.08,-0.002219,1.0,AMLP
129,2012-02-13,2,2.0,361040.0,387.0,-18.48,11825.60,-0.001560,1.0,AMLP
130,2012-02-14,2,2.0,351600.0,386.0,-18.44,11807.16,-0.001559,1.0,AMLP
131,2012-02-15,2,2.0,332220.0,383.0,-52.79,11754.37,-0.004471,1.0,AMLP
...,...,...,...,...,...,...,...,...,...,...
3424,2025-03-21,2,2.0,1200800.0,5066.0,1972.74,263385.34,0.007546,1.0,AMLP
3425,2025-03-24,2,2.0,882400.0,5068.0,-459.12,262926.22,-0.001743,1.0,AMLP
3426,2025-03-25,2,2.0,1306600.0,5062.0,908.16,263834.38,0.003454,1.0,AMLP
3427,2025-03-26,2,2.0,1404900.0,5053.0,-760.95,263073.43,-0.002884,1.0,AMLP
3428,2025-03-27,2,2.0,114509.0,5040.0,-355.80,262717.63,-0.001352,1.0,AMLP

In [5]:
for file in files: 
    
    df = pd.read_csv(f'strat_returns/Testing/kelly_returns/{file}')
    df['ticker'] = file.replace('.csv', '')
    df_hk = pd.concat([df_hk, df], axis = 0)
    
    
df_hk = df_hk[['ticker', 'date', 'daily_ret']]
df_hk.head()

  ticker        date  daily_ret
0   AMLP  2012-02-09   0.000000
1   AMLP  2012-02-10  -0.008166
2   AMLP  2012-02-13  -0.005529
3   AMLP  2012-02-14  -0.005527
4   AMLP  2012-02-15  -0.017204

In [6]:
for file in files: 
    
    df = pd.read_csv(f'strat_returns/Testing/no_kelly_criterion_returns/{file}')
    df['ticker'] = file.replace('.csv', '')
    df_ret = pd.concat([df_ret, df], axis = 0)
    
df_ret = df_ret[['ticker', 'date', 'daily_ret']]

df_ret.head()

  ticker        date  daily_ret
0   AMLP  2011-08-09  -0.065202
1   AMLP  2011-08-10   0.000000
2   AMLP  2011-08-11   0.000000
3   AMLP  2011-08-12   0.000000
4   AMLP  2011-08-15  -0.006106

In [9]:
df1 = df_hk.merge(df_ret, how='inner', on=['ticker','date'], suffixes=['_hk', '_standard'])
df1

      ticker        date  daily_ret_hk  daily_ret_standard
0       AMLP  2012-02-09      0.000000            0.000000
1       AMLP  2012-02-10     -0.008166           -0.002219
2       AMLP  2012-02-13     -0.005529           -0.001560
3       AMLP  2012-02-14     -0.005527           -0.001559
4       AMLP  2012-02-15     -0.017204           -0.004471
...      ...         ...           ...                 ...
42846    XLV  2025-03-21     -0.000548           -0.000219
42847    XLV  2025-03-24     -0.019844           -0.005029
42848    XLV  2025-03-25      0.000000            0.000000
42849    XLV  2025-03-26      0.025977            0.006397
42850    XLV  2025-03-27     -0.003595           -0.003727

[42851 rows x 4 columns]

In [10]:
df1['check'] = df1['daily_ret_hk'] == df1['daily_ret_standard']

df1['check'].value_counts()

check
True     26477
False    16374
Name: count, dtype: int64